.maintitle {
    color: slategrey;
    font: "Times New Roman", sans-serif;
    font-size:xx-large;
    text-align: center;
}

#first, #second, #third, #fourth, #fifth {
    font-size: 36;
    text-align: center;
}

#first {
    color: rgb(190, 35, 35);
}

#second {
    color: rgb(250, 172, 27)
}

#third {
    color: rgb(255, 251, 0);
}

#fourth {
    color: rgb(63, 211, 63);
}

#fifth {
    color: steelblue;
}

/* This is for TOAST PAGE */



.toasttitle, .headerformat {
    color: red;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    background: repeating-linear-gradient(45deg, salmon, transparent 100px);
}

.headerformat {
    font-size: x-large;
    background:white;
}

#scripttext {
    color: black;
    font-size: 16px;
    font-weight: normal;
}

#howto  {
    text-align: center;
}


#one-toast {
    color: red;
}

#two-toast {
    color: rgb(255, 4, 4, 0.9);
}

#three-toast {
    color: rgba(255, 4, 4, 0.8);
}

#four-toast {
    color: rgba(255, 4, 4, 0.7);
}

#five-toast {
    color: rgba(255, 4, 4, 0.6);
}

#six-toast {
    color: rgba(255, 4, 4, 0.5);
}

#seven-toast {
    color: rgba(255, 4, 4, 0.4);
}

#eight-toast {
    color: rgba(255, 4, 4, 0.3);
}

#nine-toast {
    color: rgba(255, 4, 4, 0.2);
}

/* THIS IS FOR BLT PAGE */


.blttitle {
    color: rgb(255, 81, 0);
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    background: repeating-linear-gradient(45deg, rgb(255, 153, 0), transparent 100px);
}

.bltheaderformat {
    font-size: x-large;
    background:white;
    color: rgb(255, 81, 0);
    font-weight: bolder;
    text-align: center;

}

#scripttext {
    color: black;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

#howto  {
    text-align: center;
}

#one-blt {
    color: rgb(255, 51, 0);
    }
    
#two-blt {
    color: rgb(255, 65, 0);
}
    
#three-blt {
    color: rgb(255, 80, 0);
    }
    
#four-blt {
    color: rgb(255, 95, 0);
    }
    
#five-blt {
    color: rgb(255, 110, 0);
    }
    
#six-blt {
    color: rgb(255, 125, 0);
    }
    
#seven-blt {
    color: rgb(255, 140, 0);
    }
    
#eight-blt {
    color: rgb(255, 155, 0);
    }
    
#nine-blt {
    color: rgb(255, 170, 0);
    }
    