.maintitle {
    color: slategrey;
    font: "Times New Roman", sans-serif;
    font-size:xx-large;
    text-align: center;
}

#first, #second, #third, #fourth, #fifth {
    font-size: 36;
    text-align: center;
}

#first {
    color: rgb(190, 35, 35);
}

#second {
    color: rgb(250, 172, 27)
}

#third {
    color: rgb(255, 251, 0);
}

#fourth {
    color: rgb(63, 211, 63);
}

#fifth {
    color: steelblue;
}

/* This is for TOAST PAGE */



.toasttitle, .headerformat {
    color: red;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    background: repeating-linear-gradient(45deg, salmon, transparent 100px);
}

.headerformat {
    font-size: x-large;
    background:white;
}

#scripttext {
    color: black;
    font-size: 16px;
    font-weight: normal;
}

#howto  {
    text-align: center;
}


#one-toast {
    color: red;
}

#two-toast {
    color: rgb(255, 4, 4, 0.9);
}

#three-toast {
    color: rgba(255, 4, 4, 0.8);
}

#four-toast {
    color: rgba(255, 4, 4, 0.7);
}

#five-toast {
    color: rgba(255, 4, 4, 0.6);
}

#six-toast {
    color: rgba(255, 4, 4, 0.5);
}

#seven-toast {
    color: rgba(255, 4, 4, 0.4);
}

#eight-toast {
    color: rgba(255, 4, 4, 0.3);
}

#nine-toast {
    color: rgba(255, 4, 4, 0.2);
}

/* THIS IS FOR BLT PAGE */


.blttitle {
    color: rgb(255, 81, 0);
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    background: repeating-linear-gradient(45deg, rgb(255, 153, 0), transparent 100px);
}

.bltheaderformat {
    font-size: x-large;
    background:white;
    color: rgb(255, 81, 0);
    font-weight: bolder;
    text-align: center;

}

#scripttext {
    color: black;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

#howto  {
    text-align: center;
}

#one-blt {
    color: rgb(255, 51, 0);
    }
    
#two-blt {
    color: rgb(255, 65, 0);
}
    
#three-blt {
    color: rgb(255, 80, 0);
    }
    
#four-blt {
    color: rgb(255, 95, 0);
    }
    
#five-blt {
    color: rgb(255, 110, 0);
    }
    
#six-blt {
    color: rgb(255, 125, 0);
    }
    
#seven-blt {
    color: rgb(255, 140, 0);
    }
    
#eight-blt {
    color: rgb(255, 155, 0);
    }
    
#nine-blt {
    color: rgb(255, 170, 0);
    }
    
    /* THIS IS FOR THE FETTUCCINE PAGE */

    .chxtitle, .chxheaderformat {
        color: rgb(235, 193, 8);
        font-size: xx-large;
        text-align: center;
        font-weight: bolder;
        background: repeating-linear-gradient(45deg, rgb(255, 251, 0), transparent 100px);
    }
    
    .chxheaderformat {
        font-size: x-large;
        background:white;
        font-weight: bolder;
        text-align: center;
    }

    #onechx {
        color: rgb(238, 255, 0);
     }

    #threechx {
        color: rgb(255, 240, 0);
    }

    #twochx {
        color: rgb(238, 230, 0);
    }
        
    #fourchx {
        color: rgb(255, 220, 0);
    }

    #fivechx {
        color: rgb(255, 210, 0);
    }

    #sixchx {
        color: rgb(238, 200, 0);
    }
        
    #sevenchx {
        color: rgb(255, 190, 0);
    }

 /* THIS IS FOR THE LO MEIN PAGE */

 .lomeintitle, .lomeinheaderformat {
    color: rgb(4, 95, 8);
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    background: repeating-linear-gradient(45deg, rgb(0, 255, 13), transparent 100px);
}

.lomeinheaderformat {
    font-size: x-large;
    background:white;
    font-weight: bolder;
    text-align: center;
}

#onelo {
    color: rgb(0, 255, 13);
}

#twolo {
        color: rgba(0, 255, 13, 0.9);
}

#threelo {
    color: rgba(0, 255, 13, 0.8);
}

#fourlo {
    color: rgba(0, 255, 13, 0.7);
}

#fivelo {
    color: rgba(0, 255, 13, 0.6);
}

#sixlo {
    color: rgba(0, 255, 13, 0.5);
}

#sevenlo {
    color: rgba(0, 255, 13, 0.44);
}

#eightlo {
    color: rgba(0, 255, 13, 0.40);
}

#ninelo {
    color: rgba(0, 255, 13, 0.35);
}

#tenlo {
    color: rgba(0, 255, 13, 0.3);
}

/*  THIS IS FOR THE PUDDIN' PAGE */

.cptitle, .cpheaderformat {
    color: rgb(0, 65, 102);
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    background: repeating-linear-gradient(45deg, rgb(0, 238, 255), transparent 100px);
}

.cpheaderformat {
    font-size: x-large;
    background:white;
    font-weight: bolder;
    text-align: center;
}

#onecp {
    color: rgb(20, 65, 100);
}

#twocp {
    color: rgb(39, 100, 145);
}

#threecp {
    color: rgb(50, 110, 160);
}

#fourcp {
    color: rgb(61, 120, 175);
}

#fivecp {
    color: rgb(72, 130, 190);
}

#sixcp {
    color: rgb(83, 140, 205);
}

#sevencp {
    color: rgb(94, 150, 220);
}

#eightcp {
    color: rgb(105, 169, 238);
}

